{% extends "layout.html" %}

{% block content %}
<div class="container body-content">
    <form action="" method="post">
        <div class="row">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="password" class="form-control" id="pwd">
            </div>
            <br />
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
        </div>


        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
            <br />
            <div style="color:red">
                <h2>{{message}}</h2>
            </div>
        </div>

    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>

</div>

{% endblock %}
